XML Fundamentals/Lab3/Part1/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BuildingNumber">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alexandria"/>
				<xs:enumeration value="Cairo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Eqypt"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="6 October"/>
				<xs:enumeration value="ElMaamora"/>
				<xs:enumeration value="Miami"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="119 st"/>
				<xs:enumeration value="268 st"/>
				<xs:enumeration value="El hosary st"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Street"/>
				<xs:element ref="BuildingNumber"/>
				<xs:element ref="Region"/>
				<xs:element ref="City"/>
				<xs:element ref="Country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ahmed@gmail.com"/>
				<xs:enumeration value="Alaa@gmail.com"/>
				<xs:enumeration value="Amr@gmail.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="phones"/>
				<xs:element ref="addresses"/>
				<xs:element ref="email"/>
			</xs:sequence>
			<xs:attribute name="isbn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="employee" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ahmed Ali"/>
				<xs:enumeration value="Alaa Ahmed"/>
				<xs:enumeration value="Amr Hesham"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_phone">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="home"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="phones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_phone">
		<xs:restriction base="xs:int">
			<xs:enumeration value="35411096"/>
			<xs:enumeration value="35511060"/>
			<xs:enumeration value="35611296"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
